@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$main: #6b0047;
$light-grey:#f5f5f5;
$dark-blue:#080170;

// For profit
$green: #01a01b;
$light-green: #00b91f;

// For loss
$red: #d60000;
$light-red: #ff0000;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $main;
$link: $main;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: $light-grey;
$input-shadow: none;